*{
    font-family: "Arial Rounded MT Bold";
}
body
{
    margin:0;
    background-color: #424564;
}
.wrap
{
    width: 100%;
}
.half_section
{
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
#left
{
    float:left;
    justify-content: flex-start;
}
#right
{
    float: right;
    justify-content: center;
}
.spacing_alignment_box
{
    margin: 1% 5%;
}
.m_info
{
    background-color: #d02b75;
    color: white;
    border-radius: 30px;
    border:0px;
    height:100%;
    width:20%;
    font-size: 1.08em;
    transition-duration: 0.4s;
}
.m_info:hover
{
    cursor: pointer;
    background-color: #e16ba0;
    color: black;
    font-size:1.2em;
}
.button_box
{
    height:16%;
}
.menu_button
{
    width:35%;
    height:100%;
    float:right;
    font-size: 1.6em;
    font-weight: 400;
    color: white;
    white-space: normal;
    overflow-wrap: break-word;
    margin-right: 33%;
    transition-duration: inherit;
    border-radius: 15px;
    letter-spacing:2px

}
.menu_button:hover
{
    border: white 4px solid;
    font-size: 1.6em;
}
.button1
{
    background-color: #A36E6A;
    margin-right: 17%;
}
.button2
{
    background-color: #8A8484;
    margin-right: 47%;
}
.button2:hover
{
    /* background-color:#e16ba0;*/
}
.button3
{
    background-color:#4B5A6D;
    margin-right: 17%;
}
.button3:hover
{
    /*background-color: #8b6ce0;*/
}
.button4
{
    background-color:  #CEA98E;
    margin-right: 47%;
}
.button4:hover
{
    /*background-color: #fd9997;*/
}
.button5
{
    background-color:#92ADDA;
    margin-right: 17%;
}
.button5:hover
{
    /*background-color: #79e7b0;*/
}