<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/buttonStyle.css">
  <link rel="stylesheet" href="css/parcelPickUp.css">
    <title>Parcel Pickup</title>
  </head>
  
  <body>
  
    <!-- 导航栏 -->
    <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <div class="container">
                <li class="nav-item">
                  <button type="button" id="parcelQuery"
                          class="btn btn-primary" style="width: 150px; height:45px; font-size: large;">
                    Parcel Query
                  </button>
                </li>
              </div>

              <div class="container">
                <li class="nav-item">
                  <button type="button" id="myParcel"
                          class="btn btn-primary" style="width: 130px; height: 45px; font-size: large;">My Parcel</button>
                </li>
              </div>

              <div class="container">
                <li class="nav-item">
                  <button type="button" class="btn btn-primary active" id="parcelPickUp"
                          style="width: 150px; height: 45px; font-size: large;">Parcel Pickup</button>
                </li>
              </div>

              <div class="container">
                <li class="nav-item">
                  <button type="button" class="btn btn-primary" id='parcelPost'
                          style="width: 150px; height: 45px; font-size: large;">Parcel Post</button>
                </li>
              </div>
    
            </ul>
          </div>
        </nav>
      </div>
    <!-- Logo栏 -->
    <div class="container">
      <img src="images/logo.jpeg" class="img-responsive center-block">
    </div>
  
    <!-- 我的包裹记录导航栏 -->
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" id="pickUpParcel">Pick Up Pracels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" id="abnormal">Abnormal Parcels</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content" style="margin-top: 10px;">
        <div class="tab-pane fade active show">
          <!-- 标题 -->
          <h3 style="padding-left: 30px; padding-right: 30px; margin-bottom: 40px; margin-top: 20px;">
            ALL PARCELS
          </h3>
          <!-- 表格 -->
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">Tracking Number</th>
              <th scope="col">Receive Time By Warehouse</th>
              <th scope="col">Status</th>
              <th scope="col">Belonger</th>
              <th scope="col">Consignee</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="parcel:${allParcel}">
              <td th:text="${parcel.getTrackingNumber()}"></td>
              <td th:text="${#dates.format(parcel.getReceiveTime(),'yyyy-MM-dd HH:mm')}">12 December 2020</td>
              <td th:text="${parcel.getCurrentStateByText()}"></td>
              <td th:text="${parcel.getUserName()}"></td>
              <td>
                <div class="container" th:if="${parcel.getIsConsigneeByNumber() eq 0}">
                  <button type="button" class="btn btn-info"
                          data-toggle="modal" data-target="#Consignee" id="okButton">Apply Consignee</button>
                </div>

                <div class="container" th:if="${(parcel.getIsConsigneeByNumber() eq 1 or
                parcel.getIsConsigneeByNumber() eq 2)and
                 userName.getUserId() eq parcel.getUserId()}">
                  <button class="btn btn-warning">Cancel</button>
                </div>

                <div class="container" th:if="${parcel.getIsConsigneeByNumber() eq 1 and
                userName.getUserId() ne parcel.getUserId()}">
                  <button class="btn btn-success">Accept</button>
                  <button class="btn btn-danger">Reject</button>
                </div>

                <div class="container" th:if="${parcel.getIsConsigneeByNumber() eq 2 and
                 userName.getUserId() ne parcel.getUserId()}">
                  <button class="btn btn-danger">Reject</button>
                </div>

              </td>
            </tr>
            </tbody>
          </table>
          <!-- 分页 -->
          <div class="container d-flex justify-content-center">
            <div>
              <ul class="pagination">
                <li class="page-item" id="start">
                  <a class="page-link" th:href="@{'/parcelPickUp?get=' + ${get} +'&page=' + ${currentPage - 1 }}">&laquo;</a>
                </li>
                <li class="page-item" th:id="'all-page-' + ${i}" th:each="i:${#numbers.sequence(1,maxPage)}">
                  <a class="page-link" th:href="@{'/parcelPickUp?get=' + ${get} +'&page=' + ${i}}" th:text="${i}">1</a>
                </li>
                <li class="page-item" id="end">
                  <a class="page-link" th:href="@{'/parcelPickUp?get=' + ${get} +'&page=' + ${currentPage + 1 }}">&raquo;</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="Consignee" tabindex="-1" role="dialog" aria-labelledby="queryResultLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content" >
            <div class="modal-header">
              <h3 class="modal-title">Apply For Consignee</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="resultText"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <footer style="background-color: rgb(51, 51, 51); padding-bottom: 50px; padding-top: 10px; margin-top: 40px;">
      <div class="container text-white text-center">
        <h4>XMUM STUDENT WORKS</h4>
      </div>
    </footer>
  
    <!-- Javascript -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/navCommon.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">
      $().ready(function() {
        //Javascript

        var currentPage = [[${currentPage}]];
        console.log(currentPage);
        var maxPage = [[${maxPage}]];
        console.log(maxPage)
        if (maxPage === currentPage) {
          $("#end").addClass('disabled');
        }
        if (currentPage === 1) {
          $('#start').addClass('disabled');
        }
        $("#all-page-" + currentPage).addClass('active');

        switch ([[${get}]]) {
          case 0:
            $('#pickUpParcel').addClass('active');
            $('#abnormal').removeClass('active');
            break;
          case 2:
            $('#abnormal').addClass('active');
            $('#pickUpParcel').removeClass('active');
            break;
          default:
            break;
        }

        $('#pickUpParcel').click(function () {
          window.location.href = [[@{'/parcelPickUp?get=0'}]];
        })
        $('#abnormal').click(function () {
          window.location.href = [[@{'/parcelPickUp?get=2'}]];
        })

      })
    </script>
    <script th:inline="javascript">
      $().ready(function (){

      })
    </script>
  </body>
  
  </html>