<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/css/buttonStyle.css'}">
    <title>Parcel Query</title>
  </head>
  
  <body>
  
    <!-- 导航栏 -->
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <div class="container">
              <li class="nav-item">
                <button type="button" id="parcelQuery"
                class="btn btn-primary active" style="width: 150px; height:45px; font-size: large;">
                  Parcel Query
                </button>
              </li>
            </div>
  
            <div class="container">
              <li class="nav-item">
                <button type="button" id="myParcel"
                class="btn btn-primary" style="width: 130px; height: 45px; font-size: large;">My Parcel</button>
              </li>
            </div>
  
            <div class="container">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" id='parcelPickUp'
                style="width: 150px; height: 45px; font-size: large;">Parcel Pickup</button>
              </li>
            </div>
  
            <div class="container">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" id='parcelPost'
                style="width: 150px; height: 45px; font-size: large;">Parcel Post</button>
              </li>
            </div>
  
          </ul>
        </div>
      </nav>
    </div>
    <!-- Logo栏 -->
    <div class="container">
      <img th:src="@{'/images/logo.jpeg'}" class="img-responsive center-block">
    </div>
  
    <!-- 包裹查询页面 -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="container" style="
                    border-style: solid; 
                    border-width: 5px; 
                    border-color: rgb(3, 14, 81);
                    padding-top: 30px;
                    padding-bottom: 30px;">
                    <h3 class="text-center">
                        PARCEL QUERY
                    </h3>
                    <div class="text-center" style="margin-bottom: 20px;">
                        Enter the tracking number of parcel which you want to query
                    </div>
                    <!-- 输入框 -->
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Enter tracking number" id="trackingNumber" 
                        style="margin-bottom: 20px;">
                    <div class="invalid-feedback">Please enter tracking number</div>
                    </div>

                    <div class="container d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-info" style="text-align:center; width: 100px; font-size: 20;" 
                        data-toggle="modal" data-target="#queryResult" id="okButton">OK</button>
                    </div>
                    <!-- 弹出的结果框 -->
                    <div class="modal fade" id="queryResult" tabindex="-1" role="dialog" aria-labelledby="queryResultLabel" 
                    aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content" >
                            <div class="modal-header">
                              <h3 class="modal-title">Query Result</h3>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div id="resultText"></div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  

    <!-- 页脚 -->
    <footer style="background-color: rgb(51, 51, 51); padding-bottom: 50px; padding-top: 10px; margin-top: 40px;">
      <div class="container text-white text-center">
        <h4>XMUM STUDENT WORKS</h4>
      </div>
    </footer>
  
    <!-- Javascript -->
    <script th:src="@{'/js/jquery-3.5.1.min.js'}"></script>
    <script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>
    <script th:src="@{'/js/navCommon.js'}"></script>
    <script th:inline="javascript">
      $().ready(function(){
        //Javascript

        // 输入框被唤醒
        $('#trackingNumber').blur(function(){
            if($('#trackingNumber').val() === "") {
                $('#trackingNumber').addClass('is-invalid')
                $('#okButton').removeClass('btn-outline-info')
                $('#okButton').addClass('btn-outline-danger')
                
            } else {
                $('#trackingNumber').removeClass('is-invalid')
                $('#okButton').removeClass('btn-outline-danger')
                $('#okButton').addClass('btn-outline-info')
            }
        });

        //判断输入的是否为空
        $('#okButton').click(function() {
            var result = $('#trackingNumber').val();
            if(result === "") {
                $('#trackingNumber').addClass('is-invalid')
                return false;
            }
            $('#trackingNumber').val("") //清空
            $('#resultText').empty();
            $.ajax({
                //请求方式
                type : "GET",
                //请求地址
                url : "http://localhost:8899/public/query?trackingNumber=" + result,
                //请求成功
                success : function(result) {
                    console.log(result)

                    var html = "<table class=\"table table-hover\">\n" +
                        "<thead>\n" +
                        "<tr>\n" +
                        "<th scope=\"col\">Tracking Number</th>\n" +
                        "<th scope=\"col\">Receive Time By Warehouse</th>\n" +
                        "<th scope=\"col\">Operator</th>"+
                        "</tr>\n" +
                        "</thead>\n" +
                        "<tbody>";
                    if (!result['empty'] && result['success']){
                        var details = result['message'];

                        details.forEach(function (detail) {

                            html += '<tr><td>' + detail['detailTime'] + '</td>\n';
                            html += '<td>' + detail['state'] + '</td>\n';
                            html += '<td>' + detail['operatorName'] + '</td></tr>\n'
                        })
                        html += "</tbody>\n" +
                            "</table>";
                        $('#resultText').append(html);
                    } else if(result['empty']) {
                        $('#resultText').addClass('text-danger');
                        $('#resultText').addClass('display-4');
                        $('#resultText').text("No result has been found!");
                    } else if(!result['success']) {
                        $('#resultText').text("Server Error!");
                    }

                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        });
          $('#myParcel').click(function () {
              window.location.href = [[@{'/myParcel'}]];
          })
          $('#parcelQuery').click(function (){
              window.location.href = [[@{'/public/parcelQuery'}]];
          })
          $('#parcelPickUp').click(function(){
              window.location.href = [[@{'/parcelPickUp'}]];
          });
      })
    </script>
  </body>
  
</html>